{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint",
		"eslint-plugin-tsdoc"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:@typescript-eslint/recommended-requiring-type-checking"
	],
	"env": {
		"browser": true,
		"node": true
	},
	"parserOptions": {
		"project": "./tsconfig.json",
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"rules": {
		"tsdoc/syntax": "error",
		"@typescript-eslint/explicit-function-return-type": "error",
		"eqeqeq": "error",
		"no-multiple-empty-lines": [
			"error",
			{
				"max": 1
			}
		],
		"quotes": [
			"error",
			"single",
			{
				"allowTemplateLiterals": true,
				"avoidEscape": true
			}
		],
		"@typescript-eslint/no-inferrable-types": "off"
	}
}